<div class="d-inline-block me-2 mb-2 mb-md-0" ngbDropdown *ngIf="!isSplit && isDataLoaded">
    <button class="btn dropdown-toggle-icon-none d-flex align-items-center" [ngClass]="className" id="dropdown1" ngbDropdownToggle>
        {{ title }}
        <i class="feather-sm d-flex ms-2" *ngIf="isDropdown" name="chevron-down"></i>
        <i class="feather-sm d-flex ms-2" *ngIf="!isDropdown" name="chevron-up"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown1">
        <button [ngClass]="obj.id.toString() === value ? 'dropdown-item active' : 'dropdown-item'" (click)="onDropdownClick(obj.id)" 
            *ngFor="let obj of ArrayList;">
            {{ obj.name }}
        </button>
    </div>
</div>

<div class="btn-group me-2 mb-2 mb-md-0" *ngIf="isSplit && isDataLoaded">
    <button type="button" class="btn" [ngClass]="className">{{ title }}</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn dropdown-toggle-split dropdown-toggle-icon-none" [ngClass]="className" ngbDropdownToggle>
            <i class="feather-sm d-flex" *ngIf="isDropdown" name="chevron-down"></i>
            <i class="feather-sm d-flex" *ngIf="!isDropdown" name="chevron-up"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button [ngClass]="obj.id.toString() === value ? 'active' : ''" ngbDropdownItem  
                *ngFor="let obj of ArrayList;" (click)="onDropdownClick(obj.id)">
                {{ obj.name }}
            </button>
        </div>
    </div>
</div>