<table class="table-bordered">
    <tr>
        <ng-container *ngFor="let header of headerList;">
            <th> {{ header.text }} </th>
        </ng-container>
        <th> Action </th>
    </tr>
    <ng-container *ngFor="let row of masterList;">
        <tr>
            <ng-container *ngFor="let header of headerList;">
                <td> {{ row[header.key] }}  </td>
            </ng-container>
            <td>
                <a class="btn btn-primary cursor-pointer" (click)="onRowClick(row)">View</a>
            </td>
        </tr>
    </ng-container>
</table>