<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card"></div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="../../../../assets/images/logos/bgdisc-colour-300.png">
                <h4 class="card-title">Forgot Password </h4>
                <form [formGroup]="forgotPassowrdForm" (ngSubmit)="submitForm()" novalidate>
                    <p>
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter email"/>
                    </p>
                    <small *ngIf="isFormSubmit && f?.['email']?.errors">
                        <ui-span [class]="'text-danger'" *ngIf="f?.['email']?.errors?.['required']" [text]="'Email is required'"></ui-span>
                        <ui-span [class]="'text-danger'" *ngIf="f?.['email']?.errors?.['pattern']" [text]="'Email is invalid'"></ui-span>
                    </small>
                    <p>
                        <button class="btn btn-primary mt-1" type="submit">Email new password</button>
                    </p>
                    <h5> Go to Login?&nbsp;<a class="cursor-pointer text-underline" (click)="openLoginPage()">click here</a> </h5>
                </form>
            </div>
        </div>
    </div>
</div>